#### task4

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора.

In [71]:
import pandas as pd
import cnumpy as np

In [72]:
authors_price = pd.read_csv("authors_price.csv")

In [73]:
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [74]:
groupby = authors_price.groupby("author_name")

In [77]:
a = ({
    "min_price":groupby["price"].min(),
    "max_price":groupby["price"].max(),
    "mean_price":groupby["price"].mean()
    })

In [78]:
authors_stat = pd.DataFrame(a)

In [79]:
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000