#### task3

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [34]:
import pandas as pd
import numpy as np

In [35]:
authors_price = pd.read_csv("authors_price.csv")

In [36]:
top5 = pd.DataFrame(authors_price.sort_values(by="price", ascending=False).head(5))

In [37]:
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350